@import "_vars";
@import "_global";
@import "_fonts";

.header {
  &__top {
  }

  &__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
  }

  &__logo {
  }

  &__text {
    margin-left: auto;
    margin-right: 30px;
    span {
      color: $red;
    }
  }

  &__phone {
  }

  &__box {
  }

  &__btn {
    padding: 4px;
    width: 72px;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    font-size: 12px;
    line-height: 24px;
  }

  &__btn-login {
    background-color: $green;
  }

  &__btn-register {
    background-color: $red;
    margin-left: 7px;
  }

  &__menu {
    background-color: $bg;
  }
}
.container {
}
.basket {
}
.menu {
  display: flex;
  align-items: center;
  height: 60px;
  &__list {
  }

  &__link {
    display: inline-block;
    & + & {
      margin-left: 35px;
    }
  }
  a {
    font-family: "Roboto-Medium", sans-serif;
    font-size: 14px;
    line-height: 30px;
    color: #fff;
  }
}
