@import "_vars";
@import "_global";
@import "_fonts";

// header =======================================

.header {
  &__top {
  }

  &__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
  }

  &__logo {
  }

  &__text {
    margin-left: auto;
    margin-right: 30px;
    span {
      color: $red;
    }
  }

  &__phone {
  }

  &__box {
  }

  &__btn {
    padding: 4px;
    width: 72px;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    font-size: 12px;
    line-height: 24px;
  }

  &__btn-login {
    background-color: $green;
  }

  &__btn-register {
    background-color: $red;
    margin-left: 7px;
  }

  &__menu {
    background-color: $bg;
  }
}
.container {
}
.basket {
}
.menu {
  display: flex;
  align-items: center;
  height: 60px;
  &__list {
  }

  &__link {
    display: inline-block;
    & + & {
      margin-left: 35px;
    }
  }
  a {
    font-family: "Roboto-Medium", sans-serif;
    font-size: 14px;
    line-height: 30px;
    color: #fff;
  }
}

// search ===========================================

.search {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 532px;
  color: #fff;
  text-align: center;

  &__inner {
    padding: 135px 0 100px;
  }

  &__inner-title {
    font-family: "Roboto-Bold", sans-serif;
    font-size: 48px;
    line-height: 72px;
    margin-bottom: 10px;
  }

  &__inner-text {
    font-family: "Roboto-Medium", sans-serif;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 50px;
  }

  &__inner-form {
    max-width: 670px;
    margin: 0 auto;
    position: relative;
    input {
      display: block;
      width: 100%;
      border: none;
      border-radius: 4px;
      box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
      height: 56px;
      font-family: "Roboto-Medium", sans-serif;
      font-size: 14px;
      line-height: 30px;
      padding: 0 60px 0 25px;
      outline: none;
      &:focus {
        border: 1px solid $green;
      }
      &::placeholder {
        color: #90a4ae;
      }
    }
    button {
      position: absolute;
      border: none;
      background-color: transparent;
      right: 15px;
      bottom: 15px;
    }
  }
}

// products =========================================

.products {
  padding: 100px 0 110px;
  background-color: $gray;
  &__title {
  }

  &__inner {
  }

  &__inner-btn {
    text-align: center;
    margin-bottom: 55px;
    button {
      font-family: "Roboto-Medium", sans-serif;
      font-size: 14px;
      color: $bg;
      padding: 13px 20px;
      border: none;
      background-color: #fff;
      cursor: pointer;
      & + button {
        margin-left: 5px;
      }
      &.mixitup-control-active {
        background-color: $red;
        color: #fff;
      }
    }
  }

  &__inner-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.container-fluid {
}
.product {
  &__item {
    max-width: 442px;
    width: 100%;
    box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
    margin-bottom: 30px;
  }

  &__item-img {
    min-height: 250px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &__item-content {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    align-items: center;
    min-height: 90px;
    border-bottom: 1px solid #e7ecf2;
  }

  &__item-name {
    max-width: 310px;
    font-family: "Roboto-Medium", sans-serif;
  }

  &__item-title {
    display: block;
    font-size: 18px;
    color: $bg;
  }

  &__item-category {
    display: block;
    font-size: 14px;
    color: $green;
  }

  &__item-price {
    font-family: "Roboto-Bold", sans-serif;
    font-size: 20px;
    color: $bg;
  }

  &__item-info {
    padding: 10px 30px;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item-author {
    display: flex;
    align-items: center;
    max-width: 250px;
    .avatar {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      display: inline-block;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      margin-right: 14px;
    }
    span {
      font-family: "Roboto-Medium", sans-serif;
      font-size: 14px;
      cursor: pointer;
    }
  }

  &__item-star {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #b0bec5;
    span {
      color: $bg;
    }
  }
}

.products__bottom-btn {
  margin-top: 45px;
  text-align: center;
  button {
    border: none;
    background-color: #fff;
    box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
    padding: 20px 30px;
    margin: 0 5px;
    font-size: 16px;
    color: $bg;
    cursor: pointer;
    &.mixitup-control-active {
      background-color: $red;
      color: #fff;
    }
  }
}

// products-slider ==============================================

.products-slider {
  padding: 100px 0 110px;
}

.product__item-slider {
  margin: 0 15px;
}

.slick-dots {
  text-align: center;
  li {
    display: inline-block;
    margin: 60px 3px;
    &.slick-active {
      button {
        background-color: $green;
      }
    }
  }
  button {
    width: 16px;
    height: 16px;
    font-size: 0;
    border: none;
    border-radius: 50%;
    color: #e8e8e8;
    cursor: pointer;
  }
}

// advantages=================================================

.advantages {
  padding: 100px 0;
  background-color: $bg;
  &__title {
    color: #fff;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    max-width: 370px;
    text-align: center;
    &:hover {
      .advantages__item-images {
        background-color: $green;
        g {
          fill: #fff;
        }
      }
      .advantages__item-title {
        color: $green;
      }
    }
  }

  &__item-images {
    width: 114px;
    height: 114px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 30px;
    transition: all 0.5s;
  }

  &__item-title {
    font-family: "Roboto-Medium", sans-serif;
    font-size: 24px;
    color: #fff;
    margin-bottom: 25px;
    transition: all 0.5s;
  }

  &__item-text {
    color: #b0bec5;
  }
}

// author==========================================================

.author {
  background-repeat: no-repeat;
  background-position: center left;
  background-size: cover;
  min-height: 761px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__box {
    max-width: 650px;
    width: 100%;
    min-height: 215px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $green;
  }

  &__title {
    font-size: 30px;
    line-height: 36px;
    color: #fff;
    max-width: 275px;
    margin-right: 45px;
    text-align: center;
    span {
      font-family: "Roboto-Bold", sans-serif;
    }
  }

  &__link {
    padding: 20px 40px;
    background-color: #fff;
    font-size: 18px;
    color: $bg;
  }
}

// tutorial=========================================================

.tutorial {
  padding: 60px 0 120px;
  &__title {
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    max-width: 370px;
    width: 100%;
  }

  &__item-images {
    min-height: 270px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &__item-title {
    font-family: "Roboto-Bold", sans-serif;
    font-size: 24px;
    line-height: 60px;
    color: $bg;
    background-color: #f8f8f8;
    text-align: center;
    padding: 30px 10px;
  }
}
